/dts-v1/;

/include/ "smp8640.dtsi"

/ {
	compatible = "syabas,pch_c200", "sigma,smp8640-soc";
	model = "Popcorn Hour C-200";

	memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0xc000000>;
	};

	leds {
		compatible = "gpio-leds";

		standby {
			label = "Standby";
			gpios = <&sys_gpio 8 0>;
			default-state = "on";
		};

		power {
			label = "Power";
			gpios = <&sys_gpio 9 0>;
		};
	};
};

&eth0 {
	phy-connection-type = "rgmii";
	max-speed = <1000>;
};

&i2c0 {
	clock-frequency = <2250000>;

	backlight@36 {
		compatible = "ti,lm27966";
		reg = <0x36>;
		default-power = <1>;
		default-brightness = <7>;
	};

	lcd@5d {
		compatible = "orient,amg19264c-max732x";
		reg = <0x5d>;
		pin-e = <10>;
		pin-rs = <12>;
		pin-cs1 = <13>;
		pin-cs2 = <14>;
		pin-cs3 = <15>;
	};
};
