/include/ "smp8640.dtsi"

/ {
	cpus {
		cpu0: cpu@0 {
			compatible = "mips,mips74Kc";
			clocks = <&sys_clk 1>;
		};
	};
};

&cpublock {
	reg = <0x60000 0x10000>;
	ranges = <0x0 0x60000 0x10000>;
};
