/dts-v1/;

/ {
	compatible = "sigma,smp8640-soc";

	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		cpu@0 {
			compatible = "mips,mips74Kc";
		};
	};

	cpuintc: cpu-intc@0 {
		compatible = "mti,cpu-interrupt-controller";
		#address-cells = <0>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	sysbus: bus@10000 {
		compatible = "simple-bus";
		reg = <0x10000 0x10000>;
		ranges = <0x0 0x10000 0x10000>;

		#address-cells = <1>;
		#size-cells = <1>;

		watchdog@fd00 {
			compatible = "sigma,smp8640-wdt";
			reg = <0xfd00 8>;
		};
	};

	hostbus: bus@20000 {
		compatible = "simple-bus";
		reg = <0x20000 0x10000>;
		ranges = <0x0 0x20000 0x10000>;

		#address-cells = <1>;
		#size-cells = <1>;

		usb0_phy: phy@1700 {
			compatible = "sigma,smp8640-usb-phy";
			reg = <0x1700 0x100>;
			#phy-cells = <0>;
		};

		usb0_ehci: usb@1400 {
			compatible = "sigma,smp8640-ehci", "generic-ehci";
			reg = <0x1400 0x100>;
			interrupt-parent = <&irqintc>;
			interrupts = <40>;
			phys = <&usb0_phy>;
			phy-names = "usb";
		};

		usb0_ohci: usb@1500 {
			compatible = "sigma,smp8640-ohci", "generic-ohci";
			reg = <0x1500 0x100>;
			interrupt-parent = <&irqintc>;
			interrupts = <39>;
			phys = <&usb0_phy>;
			phy-names = "usb";
		};
	};

	cpubus: bus@60000 {
		compatible = "simple-bus";
		reg = <0x60000 0x10000>;
		ranges = <0x0 0x60000 0x10000>;

		#address-cells = <1>;
		#size-cells = <1>;

		irqintc: irq-intc@e000 {
			compatible = "sigma,smp8640-intc";
			reg = <0xe000 0x1000 0xe000 0x100>;
			interrupt-controller;
			#interrupt-cells = <1>;
			interrupt-parent = <&cpuintc>;
			interrupts = <2>;
			label = "IRQ";
		};

		fiqintc: fiq-intc@e100 {
			compatible = "sigma,smp8640-intc";
			reg = <0xe000 0x1000 0xe100 0x100>;
			interrupt-controller;
			#interrupt-cells = <1>;
			interrupt-parent = <&cpuintc>;
			interrupts = <3>;
			label = "FIQ";
		};

		iiqintc: iiq-intc@e300 {
			compatible = "sigma,smp8640-intc";
			reg = <0xe000 0x1000 0xe300 0x100>;
			interrupt-controller;
			#interrupt-cells = <1>;
			interrupt-parent = <&cpuintc>;
			interrupts = <4>;
			label = "IIQ";
		};
	};
};
