if ARCH_TANGO

choice
	prompt "Processor core"

config TANGOX_CPU
	bool "CPU (74Kf)"

config TANGOX_IPU
	bool "IPU (4KEc)"

endchoice

choice
	prompt	"Devicetree"

config DTB_PCH_C200
	bool "Popcorn Hour C-200"
	depends on TANGOX_CPU

config DTB_TANGOX_IPU
	bool "SMP86xx IPU"
	depends on TANGOX_IPU

endchoice

config TANGOX_REMAP
	bool "Physical address remapping"
	help
	  The SMP86xx chips can remap a range of CPU physical
	  addresses to different bus addresses. This can be used to
	  access RAM above 512MB without highmem.

	  Say y to retain the mapping configured by the boot loader.

	  Say n to force an identity mapping and save a slight
	  overhead in DMA setup. The kernel must be loaded to an
	  identity-mapped region.

config TANGOX_EARLY_CONSOLE_PORT
	int "Early console port"
	depends on EARLY_PRINTK
	default 0

config TANGOX_EARLY_CONSOLE_RATE
	int "Early console rate"
	depends on EARLY_PRINTK
	default 115200

config TANGOX_XENV_READ
	bool "Read XENV parameters"

menu "XENV fallback settings"

config TANGOX_XENV_DEF_UART0
	bool "UART0 enabled"
	default y

config TANGOX_XENV_DEF_UART1
	bool "UART1 enabled"
	default y

config TANGOX_XENV_DEF_BAUDRATE
	int "Default baudrate"
	default 115200

config TANGOX_XENV_DEF_ENET
	bool "Ethernet enabled"
	default n

config TANGOX_XENV_DEF_FIP
	bool "FIP enabled"
	default n

config TANGOX_XENV_DEF_I2CM
	bool "I2CM enabled"
	default n

config TANGOX_XENV_DEF_I2CS
	bool "I2CS enabled"
	default n

config TANGOX_XENV_DEF_IR
	bool "IR enabled"
	default n

config TANGOX_XENV_DEF_USB
	bool "USB enabled"
	default n

config TANGOX_XENV_DEF_SATA
	bool "SATA enabled"
	default n

config TANGOX_XENV_DEF_PCIHOST
	bool "PCI Host enabled"
	default n

config TANGOX_XENV_DEF_PCI_ID1
	bool "PCI device 1 enabled"
	depends on TANGOX_XENV_DEF_PCIHOST
	default n

config TANGOX_XENV_DEF_PCI_ID2
	bool "PCI device 2 enabled"
	depends on TANGOX_XENV_DEF_PCIHOST
	default n

config TANGOX_XENV_DEF_PCI_ID3
	bool "PCI device 3 enabled"
	depends on TANGOX_XENV_DEF_PCIHOST
	default n

config TANGOX_XENV_DEF_PCI_ID4
	bool "PCI device 4 enabled"
	depends on TANGOX_XENV_DEF_PCIHOST
	default n

endmenu

endif
