config TANGOX_ENET
	tristate "SMP86xx Builtin Gigabit Ethernet support"
	depends on ARCH_TANGOX
	select PHYLIB
	help
	 This option adds support for the SMP86xx integrated Gigabit Ethernet
	 controller.

config TANGOX_ENET_PCH_C200_FIXUP
	bool "Popcorn Hour C-200 PHY fixup"
	depends on TANGOX_ENET
	select PHYLIB
	help
	  Fix misconfigured Ethernet PHY on Popcorn Hour C-200 boards.
