#
# Sigma Designs device configuration
#

config NET_VENDOR_SIGMADESIGNS
	bool "Sigma Designs devices"
	default y
	depends on TANGOX
	---help---
	  Support Sigma Designs' SoC.

config TANGO2_ENET
	tristate "SMP863x Builtin Ethernet support"
	depends on ETHERNET && TANGO2 && NET_VENDOR_SIGMADESIGNS
	select MII
	select CRC32
	---help---
	  This option adds support for the SMP863x integrated Ethernet
	  controller.  This driver uses NAPI and generic Linux MII
	  support.

config TANGOX_ENET
	tristate "SMP8xxx Builtin Gigabit Ethernet support (SMP864x/SMP865x/SMP867x/SMP868x/SMP89xx)"
	depends on ETHERNET && (TANGO3 || TANGO4) && NET_VENDOR_SIGMADESIGNS
	select MII
	select CRC32
	help
	 This option adds support for the SMP8xxx integrated Gigabit Ethernet
	 controller.  This driver uses NAPI and generic Linux MII
	 support.

config TANGOX_ENET0_NOMDIO
	bool "No MDIO access on ethernet 0"
	depends on TANGOX_ENET
	default n
	help
	 This option disable the MDIO access, which is needed for some PHY 
	 emulation device (e.g. Ralink RT2880F wireless card).

config TANGOX_ENET0_NOMDIO_SPEED
	int "Hard wired communication speed"
	depends on TANGOX_ENET0_NOMDIO
	default 100
	help
	 Without MDIO access, the speed needs to be hardwired. Valid number
	 is 10 or 100.

config TANGOX_ENET0_NOMDIO_FULLDUPLEX
	bool "Hard wired duplex mode"
	depends on TANGOX_ENET0_NOMDIO
	default y
	help
	 Without MDIO access, the duplex mode needs to be hardwired. 

config TANGOX_ENET0_NOMDIO_PHY_ADDR
	int "Hard wired PHY address"
	depends on TANGOX_ENET0_NOMDIO
	default 1
	help
	 Without MDIO access, the PHY address speed needs to be hardwired. 
	 Valid number is 0~31.

config TANGOX_ENET1_NOMDIO
	bool "No MDIO access on ethernet 1"
	depends on TANGOX_ENET
	default n
	help
	 This option disable the MDIO access, which is needed for some PHY 
	 emulation device (e.g. Ralink RT2880F wireless card).

config TANGOX_ENET1_NOMDIO_SPEED
	int "Hard wired communication speed"
	depends on TANGOX_ENET1_NOMDIO
	default 100
	help
	 Without MDIO access, the speed needs to be hardwired. Valid number
	 is 10 or 100.

config TANGOX_ENET1_NOMDIO_FULLDUPLEX
	bool "Hard wired duplex mode"
	depends on TANGOX_ENET1_NOMDIO
	default y
	help
	 Without MDIO access, the duplex mode needs to be hardwired. 

config TANGOX_ENET1_NOMDIO_PHY_ADDR
	int "Hard wired PHY address"
	depends on TANGOX_ENET1_NOMDIO
	default 1
	help
	 Without MDIO access, the PHY address speed needs to be hardwired. 
	 Valid number is 0~31.

